@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container{
    margin: 30px 30px 0;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   border-radius: 5px;
   overflow: hidden;
   margin-bottom: 20px;
}

.container-form h1{
    background: lightcoral;
    color: white;
    text-align: center;
}

form{
    padding: 20px;
}

.field-form{
    margin-bottom: 10px;
}

.field-form label {
    display: inline-block;
    width: 25%;
    text-align: right;
}

.field-form input, .field-form textarea{
    width: 60%;
    padding: 10px;
    margin-left: 1%;
}

.field-form input{
    height: 40px;
    border-radius: 5px;
    
}

.field-form textarea{
    vertical-align: top;
    border-radius: 5px;
}



.btn-save{
    margin-left: 26%;
    background: skyblue;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: 600;
    border: 2px skyblue solid;
    border-radius: 4px;
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-save:hover{
    background: none;
    color: skyblue;
}

.container-colomn{
    display: flex;
}

.container-colomn .left{
    flex-basis: 49%;
    margin-right: 1%;
}
.container-colomn .right{
    flex-basis: 49%;
    margin-left: 1%;
}

.container-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.container-note h2{
    background: lightcoral;
    color: white;
    padding: 5px;
}

.note-item{
    border: 1px lightgray solid;
    margin: 10px;
    border-radius: 10px;
}

.note-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background: skyblue;
    color: white;
}

.btn-undo{
        background: url('images/undo-outline.svg');
        background-size: contain;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: none;
}

.btn-check{
    background: url('images/check-outline.svg');
    background-size: contain;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    transition: all 0.3s ease;
}

.btn-check:hover{
    background: url('images/check-solid.svg');
}

.btn-trash{
    background: url('images/trash-outline.svg');
    background-size: contain;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: none;
    transition: all 0.3s ease;
    
}

.btn-trash:hover{
    background: url('images/trash-fill.svg');
}

.note-item p{
    padding: 0 20px;
}

.note-item .date{
    font-style: italic;
    font-size: 14px;
    color: gray;
}

.note-item .body{
    text-align: justify;
    padding-bottom: 10px;
}

.empty-message{
    text-align: center;
    height: 50px;
    padding: 20px;
    grid-column: 1;
}

@media screen and (max-width: 900px){
    .left{
        flex-basis: 100%;
    }
    
    .right{
        flex-basis:100%;
        margin-left: 0;
    } 
}

@media screen and (max-width: 470px){
    .container-form h1{
        font-size: 20px;
    }
    .field-form label{
        font-size: 12px;
    }
    form{
        padding: 10px;
    }
}